.footer {
  background-color: var(--preto);
  position: absolute;
  bottom: 0;
  height: 88px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: var(--branco);
  font-size: 18px;
}
